*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --primary-light-color: #42c3bf;
    --primary-dark-color: #181d42;
    --secondary-light-color: #fc7522;
    --secondary-dark-color: #A2B29F;
    --text-color-light: #fff;
}

img,
picture{
    width: 100%;
    display: block;
}

.cursor-pointer:hover{
    cursor: pointer;
}

.icon{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: solid black;
    padding: .4rem;
}

/*Nav*/

nav{
    display: grid;
    justify-items: center;
    height: 45vh;
    grid-template-rows: 2fr 1fr;
    position: relative;
    background: linear-gradient(#222 98%, #fff);
}

.bg-main-img{
    background: url("img/note.png");
    width: min(75vw, 22rem);
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav form{
    align-self: flex-end;
    margin-bottom: 1.2rem;
}

nav input[type = text]{
    width: min(90vw, 45rem);
    height: 3.5rem;
}

/*Main*/

.links{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.links span{
    border-bottom: 2px solid #000;
    padding: .5rem;
    font-size: 1.1rem;
}

section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1.5rem;
}

.todo-label{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
}

.new-todo{
    border-radius: 5px;
    background-color:var(--secondary-light-color);
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    width: min(90vw, 45rem);
    padding: 1rem;
    margin-bottom: .5rem;
}

#check-box{
    width: 1.2rem;
    height: 1.2rem;
}

.new-dlt-btn{
    height: 1rem;
    width: 1rem;
    justify-self: flex-end;
}

.hide{
    animation-name: hide;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes hide{
    100%{
        opacity: 0;
    }
}